{% extends "ForumBundle::layout.html.twig" %}

{% block header %}
    <h1>Rejestracja</h1>
    {% endblock %}

{% block content %}
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h2>Załóż darmowe konto!</h2>
                </div>
                <div class="panel-body">
                    {{ form_start(form2) }}
                        <div class="login">
                            <div class="col-xs-4">
                                {{ form_label(form2.username) }}
                            </div>
                            <div class="col-xs-8">
                                {{ form_widget(form2.username) }}
                                <span style="color:red">{{ form_errors(form2.username) }}</span>
                            </div>
                        </div>
                        <div class="password">
                            <div class="col-xs-4">
                                {{ form_label(form2.password) }}
                            </div>
                            <div class="col-xs-8">
                                {{ form_widget(form2.password) }}
                                <span style="color:red">{{ form_errors(form2.password) }}</span>
                            </div>
                        </div>
                        <div class="email">
                            <div class="col-xs-4">
                                {{ form_label(form2.email) }}
                            </div>
                            <div class="col-xs-8">
                                {{ form_widget(form2.email) }}
                                <span style="color:red">{{ form_errors(form2.email) }}</span>
                            </div>
                        </div>
                    <div class="buttons text-center">
                        {{ form_widget(form2.Add) }}
                    </div>
                    {{ form_end(form2) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}